.tableContainer {
  width: 100%;
  border: 2px solid rgb(249, 117, 97);
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  color: rgb(73, 73, 73);
  overflow: hidden;
  display: table;
}
